<div class="view">
  <h1>... But how does it work?</h1>

  <p>
  <b>
    Getting good air quality isn't simple. Agreeing on it is even worse!
  </b>
  </p>

  <p>
    To help you understand how the ventilation and heating affects the room climate, we have created this tutorial that
    will hopefully clear things up.
  </p>
  <p>
    This is a simple simulation of how it could work if only your own settings affected the air.
  </p>

  <button
    mat-raised-button
    color="primary"
    class="full_width"
    [routerLink]="['/tutorial-task-1', userId]"
  >
    Great, let me get started!
  </button>
</div>
