mat-toolbar {
  display: flex;
  justify-content: space-between;
  box-shadow: var(--main-box-shadow);
  background-color: rgb(var(--main-color-600));
}

.toolbar-title {
  text-align: center;
  color: rgb(var(--main-color-100));
}

.letter-2 {
font-size: 28px;
}
