<div mat-dialog-title class="dialog-heading">
  Task 2: 22 degrees, 45% humidity
</div>
<div mat-dialog-content>

  <p>
    You've completed the first task! Now that you've found the right temperature, it's time to look at the humidity.
  </p>
  <p>
    The optimal classroom humidity is <strong>between 40% and 50%</strong>. Try getting in the middle of that, at approx. 45%.
  </p>

  <i>
    <strong>
    Tips:
    </strong>
    Turning the <b>ventilation up</b> will turn the <strong>humidity down</strong>.
  </i>

  <div
    mat-dialog-actions
    align="end"
  >
    <button
      mat-button
      mat-dialog-close
      color="primary"
      class="uppercase"
    >
      OK!
    </button>
  </div>
</div>
