<div mat-dialog-title class="dialog-heading">
  Task 4: Test the limits
</div>
<div mat-dialog-content>

  <p>
    Yes, finding the exact climate you wish for isn't easy. For that reason, Vent2Learn is also limited
    to work approximately inside the recommended ranges of temperature and humidity.
  </p>

  <p>
    Try fiddling to find the minimum values, and finish off at the maximum temperature and humidity values.
  </p>

  <i>
    <strong>
      Tip:
    </strong>
    <p>
      Especially the temperature can hit the limits before you max out your setting levels.
    </p>
  </i>

  <div
    mat-dialog-actions
    align="end"
  >
    <button
      mat-button
      mat-dialog-close
      color="primary"
      class="uppercase"
    >
      OK!
    </button>
  </div>
</div>
