.zone-value {
  background-color: rgb(var(--main-color-500));
  color: rgb(var(--main-color-100));
  width: 150px;
  height: 150px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--main-box-shadow);
}

.setting-svg {
  margin: 0 calc(var(--main-margin)/2) var(--main-margin) 0;
}

svg {
  height: 40px;
}

p {
  font-size: 24px;
  margin: calc(var(--main-margin)) 0 0 0;
}
