<div class="view">
  <h1>
    {{ taskHeadline }}
  </h1>

  <div class="user-settings">
    <div class="setting-flex flex_1 setting-buttons">
      <button
        [ngClass]="{'selected' : setting === 'ventilationLevel'}"
        (click)="setting = 'ventilationLevel'">
        Ventilation
      </button>

      <button
        [ngClass]="{'selected' : setting === 'heatingLevel'}"
        (click)="setting = 'heatingLevel'">
        Heating
      </button>
    </div>

    <div class="setting-flex flex_1">
      <mat-slider
        color="primary"
        vertical
        thumbLabel
        tickInterval="1"
        step="1"
        min="0"
        max="10"
        [(ngModel)]="users[0][setting]"
        (ngModelChange)="updateZoneValues()"
      >
      </mat-slider>
    </div>
  </div>

  <div class="card-grid zone-values">
    <mat-card>
      <strong>
        Temperature
      </strong>
      <p>
        Current: {{ zoneTemperature }}
      </p>
      <p *ngIf="targetTemperature">
        Target: {{ targetTemperature }}
      </p>
    </mat-card>

    <mat-card>
      <strong>
        Humidity
      </strong>
      <p>
        Current: {{ zoneHumidity }}
      </p>
      <p *ngIf="targetHumidity">
        Target: {{ targetHumidity }}
      </p>
    </mat-card>
  </div>

  <br>

  <button
    class="full_width uppercase"
    *ngIf="nextButton"
    mat-raised-button
    color="primary"
    [routerLink]="['/tutorial-task-2', userId]"
  >
    Yes! That's right &#8594;
  </button>

  <button
    disabled
    class="full_width uppercase"
    *ngIf="!nextButton"
    mat-raised-button
  >
    It's not quite there yet
  </button>

</div>
