<div class="view">
  <h1>
    Great! You finished the tutorial!
  </h1>

  <p>
    We hope this gave you a better idea how to reach the right heating and ventilation.
  </p>

  <p>
    However remember that Vent2Learn is a <strong>democratic system</strong>, meaning that the heating and ventilation
    is always an average between all users in the zone.
  </p>

  <p>
    You can always go through this tutorial again.
  </p>

  <button
    mat-raised-button
    color="primary"
    class="full_width"
    [routerLink]="['/zone-overview', userId]"
  >
    Great, I'm done!
  </button>
</div>
