div {
  margin-bottom: var(--main-margin);
}

.current-values {

  div {
    margin: 0;
  }

  .current-humidity {
    display: flex;
    justify-content: flex-end;
  }
}

.mat-stroked-button {
  border-color: rgb(var(--main-color-500));
  font-weight: 600;
}

.view > div {
  margin-bottom: calc(var(--main-margin)*2);

  &:last-child {
    margin-bottom: 0;
  }

}

.arrow-down {
  width: 100%;
  text-align: center;
  color: rgb(var(--main-color-500));

  svg {
    height: 30px;
  }
}
