<form
  *ngIf="rooms && vents"
  [formGroup]="" class="example-form"
>
  <mat-form-field
    appearance="outline"
    class="example-full-width"
  >
    <mat-label>Select room</mat-label>
    <input type="text"
           (click)="selectedRoomName = ''"
           aria-label="Number"
           matInput
           [formControl]="roomControl"
           [matAutocomplete]="auto"
           [(ngModel)]="selectedRoomName"
           (ngModelChange)="updateRoom()"
           #selectRoom
    >
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let room of filteredRooms | async" [value]="room.roomName">
        {{room.roomName}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field
    appearance="outline"
  >
    <mat-label>Select vent</mat-label>
    <mat-select [disabled]="!selectedRoom"
                [formControl]="ventControl"
                [(ngModel)]="selectedVent"
    >

      <ng-container *ngFor="let vent of vents">
        <mat-option *ngIf="selectedRoom && vent.roomId === selectedRoom.roomId" [value]="vent.ventId">
          {{vent.ventNumber}}
        </mat-option>
      </ng-container>

    </mat-select>
  </mat-form-field>

  <div class="navigate-buttons">

    <button
      mat-stroked-button
      class="uppercase mat-stroked-button"
      color="primary"
      *ngIf="lastPathClean !== 'login' && lastPathClean !== 'time-selection' && lastPathClean !== 'vent-selection'"
      [routerLink]="['/' + [lastPathClean], userId]"
    >
      Back
    </button>

    <button type="submit"
            mat-raised-button
            class="uppercase"
            color="primary"
            *ngIf="selectedVent && !dialogUserId"
            (click)="updateUserVent()"
    >
      Next
    </button>

  </div>

<!-- For if we get the dialog working for selecting from ZoneOverview -->
<!--  <div-->
<!--    mat-dialog-actions-->
<!--    align="end"-->
<!--  >-->
<!--    <button-->
<!--      mat-button-->
<!--      mat-dialog-close-->
<!--      *ngIf="selectedVent && dialogUserId"-->
<!--      (click)="updateUserVent(true)"-->
<!--      color="primary"-->
<!--      class="uppercase"-->
<!--    >-->
<!--      OK!-->
<!--    </button>-->
<!--  </div>-->

</form>
