.log-in-btn {
  background-color: #6ea81a;
  color: #ffffff;
  text-transform: uppercase;
}

.submit-button {
  margin-top: 8px;
}


form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.form-container {
  display: block;
  text-align: center;
}

hr {
  margin: calc(var(--main-margin)*2) 0;
}
