<div class="view">
  <h1>
    About
  </h1>

  <hr>
  <h2>
    About Vent2Learn
  </h2>

<p>
  Vent2Learn is a system developed by Vent2U.
</p>

  <hr>
  <h2>
    About Vent2U
  </h2>

  <h3>
    Contact
  </h3>

  <address>
    Lillian Katrine Kofod<br>
    CEO<br>
    Mail: <a href="mailto:Lkk@vent2u.dk">Lkk@vent2u.dk</a>
    Mobile: <a href="tel:+4523720232">+45 23 72 02 32</a>
  </address>

  <h3>
    Addresses
  </h3>
  <address>
    Risø Forskerpark, DTU-Link<br>
    Fredriksborgvej 399, bygning 108<br>
    4000 Roskilde<br>
  </address>

  <address>
    Resiliens House<br>
    Lysholt Allé 8<br>
    7100 Vejle<br>
  </address>


</div>
