<div class="view">

  <p>
    When do you expect to leave?
  </p>

  <mat-form-field
    appearance="outline"
  >
    <mat-label>Select time</mat-label>
    <mat-select
      [formControl]="timeControl"
      [(ngModel)]="selectedTime"
    >

      <ng-container *ngFor="let time of this.timeStamps">
        <mat-option
          [value]="time"
        >
          {{ time }}
        </mat-option>
      </ng-container>

    </mat-select>
  </mat-form-field>

  <button type="submit"
          mat-raised-button
          *ngIf="selectedTime"
          (click)="updateUserLeavingTime()"
  >
    Next
  </button>
</div>
