<!-- Top nav does not show on the login page.
More pages can be added in app.component.ts -->
<div class="app-component">

<app-top-toolbar *ngIf="displayTopToolbar"></app-top-toolbar>

<div
  *ngIf="displayCircles"
  class="top-circle"
>
  <img src="../assets/bottom-circle.png">
</div>

<div
  class="router-outlet-container"
  [ngClass]="{'circles-router-padding': displayCircles}"
>
  <router-outlet></router-outlet>
</div>

<app-bottom-toolbar *ngIf="displayBottomToolbar"></app-bottom-toolbar>

<app-tutorial-bottom-toolbar *ngIf="displayTutorialBottomToolbar"></app-tutorial-bottom-toolbar>

<div
  *ngIf="displayCircles"
  class="bottom-circle"
>
  <img src="../assets/bottom-circle.png">
</div>
</div>
