app-top-toolbar {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

img {
  display: block;
}

app-bottom-toolbar,
app-tutorial-bottom-toolbar
{
  z-index: 100;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.router-outlet-container {
  max-width: 500px;
  margin: 0 auto;
  padding: calc(56px + var(--main-margin)) var(--main-margin);
}

.circles-router-padding {
  padding: calc(56px + var(--main-margin) + 75px + var(--main-margin)) var(--main-margin) 0;
}

.bottom-circle {
  position: absolute;
  right: 0;
}

.top-circle {
  transform: rotate(180deg);
  position: absolute;
  left: 0;
  top: 0;
}
