app-top-toolbar {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

app-bottom-toolbar {
  z-index: 100;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.router-outlet-container {
  margin: calc(56px + var(--main-margin)) var(--main-margin);
}
