<div mat-dialog-title class="dialog-heading">
  Task 3: Heat up and get dry
</div>
<div mat-dialog-content>

  <p>
    Baby, it's cold outside! And when you come to school, all cold and wet from the snow,
    it's a good idea to turn up the ventilation to dry up.
  </p>
  <p>
    However, turning up the ventilation will make it colder, and you don't want that either.
  </p>

  <p>
    Try and see what happens if you turn both the ventilation and heating up to full.
  </p>

  <div
    mat-dialog-actions
    align="end"
  >
    <button
      mat-button
      mat-dialog-close
      color="primary"
      class="uppercase"
    >
      OK!
    </button>
  </div>
</div>
