<div mat-dialog-title class="dialog-heading">
  Task 1: 22 degrees
</div>
<div mat-dialog-content>

  <p>
    The optimal classroom temperature is <strong>between 20 and 24 degrees</strong>.
    Try getting right in the middle.
  </p>

  <strong>
    Tips:
  </strong>

  <p>
    Turning the <strong>ventilation up</strong> will turn the <strong>temperature down</strong>.
  </p>
  <p>
    Turning the <strong>heating up</strong> will turn the <strong>temperature up</strong>.
  </p>

  <div
    mat-dialog-actions
    align="end"
  >
    <button
      mat-button
      mat-dialog-close
      color="primary"
      class="uppercase"
    >
      OK!
    </button>
  </div>
</div>
