mat-toolbar {
  display: flex;
  justify-content: space-between;
  box-shadow: var(--main-box-shadow-revert);
  background-color: rgb(var(--main-color-600));
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(var(--main-color-100));
}

svg {
  padding: 6px;
}

span {
  font-size: 14px;
  padding-bottom: 4px;
}

.selected {
  background-color: rgb(var(--main-color-800));
  box-shadow: var(--main-box-shadow);
}
