mat-toolbar {
  display: flex;
  justify-content: space-between;
  box-shadow: var(--main-box-shadow-revert);
  padding: 0;
}

.back_button,
.info_button {
  display: flex;
  justify-content: flex-start;
  color: rgb(var(--secondary-color-500));
}

.info_button {
  display: flex;
  justify-content: flex-end;
  color: rgb(var(--secondary-color-500));
}

button {
  height: 100%;
}
