<div class="view">
  <div class="app_title">
    <span class="letter-blue letter-bold">V</span>ent<span class="letter-large letter-blue">2</span>Learn
  </div>

  <div class="navigate-buttons">
    <button
      mat-stroked-button
      class="uppercase mat-stroked-button"
      color="primary"
      (click)="openSkippingDialog()"
    >
      Skip tutorial
    </button>

    <button type="submit"
            mat-raised-button
            class="uppercase"
            color="primary"
            [routerLink]="['/tutorial-starting', userId]"
    >
      Start tutorial
    </button>

  </div>

</div>
